PORT=3000
MONGODB_URI=mongodb://localhost:27017/swccy
JWT_SECRET=g7pHg8ZplJTfLGgsfbwWUUIln71BumVOImPRyzBoC8s
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
DEFAULT_TAX_RATE=0.18
ALLOW_DELIVERY_WITH_PENDING_BALANCE=false
